table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
.input-form-control {
  margin: 10px 0;
}
.edit-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.add-button{
  margin:0 0 10px 0;
  cursor: pointer;
}
.show-pointer{
  cursor: pointer;
}
.fa-angle-double-up, .fa-angle-double-down{
  font-size:14px;
}
